/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #FF9F1C   ;
  --secondary-color: #FFBF69 ;
  --accent1-color: #2EC4B6;
  --accent2-color: #CBF3F0;

  /* change the values below to your chosen font(s) */
  --heading-font: "Black Han Sans";
  --paragraph-font: "Open Sans", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #FF9F1C;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: Black;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #D4AC0D;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: #CBF3F0;
  text-align: center;
}
.head {
  display: grid;
  grid-template-columns: 150px auto;
  background: #D4AC0D;
  max-width: 1600px;
}
#content {
  margin: 0 auto;
  max-width: 1600px;
}
  nav {
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #D4AC0D;
}
nav a {
  text-align: center;
  text-decoration: none;
  padding: 35px;
  padding-top: 1%;
  padding-bottom: 1%;
}
nav:hover {
  color: #9D5C63
}
.logo {
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 150px;
  width: 150px;
  justify-self: center;
  align-self: center;
}
.backg {
  width: 96%;
  background-color: #9D5C63;
  border: 2px solid black;
  margin: 20px;
  padding: auto;
}
#background {
  width: 95%;
  background-color: #9D5C63;
  border-style: double;
  border: 2px solid white;
  margin-top: 20px;
  box-shadow: 5px 5px 10px #6f7364;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}
.backg1 {
  width: 25%;
  background-color: #FF9F1C;
  border-style: double;
  border: 2px solid white;
  margin-top: -40px;
  box-shadow: 5px 5px 10px #6f7364;
  margin-left: auto;
  margin-right: auto;
}
.rv {
  color: #396E94;
  text-align: center;
  z-index: -1;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  grid-gap: 10px;
}
.bad_weather {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  grid-gap: 10px;
}
.getting-to-bearlake {
  grid-column: 1/4;
  grid-row: 1/4;
  text-align: left;
}
.arrive {
  grid-column: 1/4;
  grid-row: 1/4;
  text-align: left;
}
.rest_area-img {
  grid-column: 4/9;
  grid-row: 2/6;
  width: 500px;
  box-shadow: 5px 5px 10px #6f7364;
}
.in_the_storm {
  grid-column: 4/9;
  grid-row: 1/4;
  width: 500px;
  box-shadow: 5px 5px 10px #6f7364;
}
.in_the_storm:hover {
  opacity: .6;
  transform: scale(1.1);
  }
.rest_area-img:hover {
  opacity: .6;
  transform: scale(1.1);
}
.check_weath {
  grid-column: 9/12;
  grid-row: 1/4;
  text-align: left;
}
.beach {
  grid-column: 9/12;
  grid-row: 1/4;
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 10px #6f7364;
}
.video {
  grid-column: 4/10;
  grid-row: 4/7;
  width: 600px;
  padding: 20px;
}
.lighting {
  width: 60%;
  grid-column: 4/9;
  grid-row: 3/4;
  background-color: #9D5C63;
  border: 2px solid white;
  margin-top: 50px;
  box-shadow: 5px 5px 10px #6f7364;
  margin-left: auto;
  margin-right: auto;
  padding-top: auto;
}
.beach:hover {
  opacity: .6;
  transform: scale(1.1);
  }
.continue {
  grid-column: 9/12;
  grid-row: 4/7;
  text-align: left;
}
.beach1 {
  grid-column: 1/4;
  grid-row: 4/7;
  width: 350px;
  box-shadow: 5px 5px 10px #6f7364;
}
.beach1:hover {
  opacity: .6;
  transform: scale(1.1);
}
img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  padding: 15px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Black Han Sans", "Open Sans";
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: #FF9F1C;
}
.secondary {
  background-color: #FFBF69;
}
.accent1 {
  background-color: #2EC4B6;
}
.accent2{
  background-color: #CBF3F0;
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: #FF9F1C;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

footer, media {
  background-color: #D4AC0D;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p a:hover {
  text-decoration: underline;
  color: white;  
}
.facebook {
  width: 40px;
  z-index: 1;
}
.twitter {
  width: 40px;
  z-index: 1;
}
.inst {
  width: 40px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}
/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
#expandedImg {
  width: 100%;
}
.social img {
  display: inline;
  padding: 0;
}