
nav, footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px;
  }
a:hover {
    background-color: white;
    font-size: 1.5em;
    color: blue;
    margin: 40px;
  }
  h1 {
    text-align: center;
    border: 2px solid blue;
  }
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
  }
  footer p {
    font-size: 20px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
  }
  footer {
    background-color: steelblue;
    color: white;
  }
  .main-para {
    font-size: 1.5em
    line-height: 1.5em
  }
  #active {
    background-color: white;
    color: steelblue;
  }