@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Original+Surfer&display=swap');

img {
    width: 400px;
}
h1 {
    font-size: 130px;  
}
h2 {
    font-size: 50px;
    padding: 70px 70px;
    color: red;
    background-color: lightgrey;
    border-bottom: gray;
    text-align: justify;
}
p {
    text-align: center;
}
.home-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    background-color: skyblue;
}
img {
    grid-column: 1/2;
    grid-row: 1/2;
}
h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 1;
}
h2 {
    grid-column: 3/4;
    grid-row: 1/3;
}